.myPosts_sertings {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;

    button {
        margin: 0px 5px 0px 5px;
        height: 40px;
        color: white;
    }

    .succes {
        background-color: green;
    }

    .remove {
        background-color: red;
    }
}