.item {
    padding:10px 10px 10px 10px;
    color:black;
    display: flex;
    img {
        padding-right: 20px;
        width: 40px;
        height: 40px;
    }

    span {
        margin-left: 25px;
        color: red;
    }
}

.item.active {
    color:gold;
}