.myMessage_sertings {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6fr 2fr 2fr;

    button {
        margin: 15px 5px 15px 5px;
        height: 40px;
        color: white;
    }

    textarea {
        margin: 13px 5px 15px 5px;
        height: 40px;
    }

    .succes {
        background-color: green;
    }

    .remove {
        background-color: red;
    }
}