.background {
    width: 90%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-image:url("https://www.teahub.io/photos/full/254-2549402_background-facebook-cover-photo-size.jpg");
    background-size:cover ;
    border-radius: 15px;
}